/* место для вашего кода */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 89px 50px 96px;
}

.header__menu {
    display: flex;
    list-style: circle;
    justify-content: space-evenly;
    font-size: 18px;
    gap: 33px;
    padding-right: 41px;
}

.header__menu a {
    text-underline-offset: 2px;
}

.header__menu-list-item:first-child {
    list-style: none;
}

.header__menu-list-item:first-child a {
    text-decoration: none;
}

.header__logo { 
    display: block;
    justify-self: center;
    width: 141px;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    padding-right: 35px;
    gap: 4px;
}

.address a {
    align-items: flex-start;
    text-underline-offset: 4px;
}
